// bsc
$primary: #FBDA3C;
$dark-primary: #F0B90B !default;
$dark-primary-alternate: #F0B90B !default;
$secondary: #FBDA3C;
$tertiary: #93d7ff;
$additional-font: #fff;
$header-background-color: #13161A;
$dashboard-banner-network-plain-container-background-color: #fff;
$dashboard-stats-item-label-color: #000;
$dashboard-stats-item-value-color: #000;
$header-links-color-active:$primary;

// button border and font color && hover bg color
$btn-line-color: $primary; 