<title>
  <%= gettext("%{subnetwork} %{network} Explorer", subnetwork: LayoutView.subnetwork_title(), network: LayoutView.network_title()) %>
</title>
<meta name="description" content="<%= gettext "Binance Smart Chain Explorer", subnetwork: LayoutView.subnetwork_title() %>">
<meta name="keywords" content="Binance Smart Chain, blockchain, api, analytics, address, smart contract">
