<footer class="footer">
  <div class="footer-body container">
    <!-- Logo -->
    <div class="row footer-logo-row">
      <div class="col-md-12">
        <%= link to: webapp_url(@conn), class: "footer-brand" do %>
          <img class="footer-logo" src="<%= logo_footer() %>" alt="<%= subnetwork_title() %>" />
        <% end %>
      </div>
    </div>
  </div>
</footer>
